p    {color: green}

#header ul, textarea.input-sm {
  display: -webkit-box;
  display: flex;
}

#header ul {
  display: -webkit-flex;
  color: green;
}

p    {font-style: italic }

b    {color: green}

h1 {text-indent: 30px}

.form-inline .input-group>.form-control {
    width: 100%
}
