p {
  color:red;
}

#header ul {
  display:flex;
}

textarea.input-sm {
  display:-webkit-box;
  display:flex;
}

#header ul {
  color:blue;
}

b {
  color:red;
}

h1 {
  text-indent:30px;
}

.form-inline .input-group>.form-control {
  width:100%;
}

